/*?----------------------------------------------------------------------------------------------------*/

/** Inicio historial */

.testBorrar {
    color: red;
    font-size: 3rem;
    margin: 2rem;
}

/** Fin historial */

/*?----------------------------------------------------------------------------------------------------*/